/*
 * Globals
 */

body {
  font-family: source-sans, sans;
  color: #555;
  background-color: #fffcf2;
}

.hung-icon{
  margin-left: -84px;
  display: block;
  position: absolute;
}

.section-welcome {
  font-size: 16px;
}

.shortcuts {
	text-align:center;
}

.shortcuts img {
	width:150px !important;
	height:150px !important;
}

.shortcuts a img {
	width:30px;
	height:30px;
}

.shortcuts a {
	margin:9px 0;
	padding:13px 0;
}

.section-project {
	text-align:center;
}

.section-project img {
	width:128px;
	height:128px:
}

.section-project h2 {
	line-height:3em;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0px;
	border-width: 1px 1px 1px 5px;
	border-style: solid;
	border-color: #EEE;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 3px;
	border-left-color:#5CB85C;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: source-sans, sans;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #444;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 15px;
  font-weight: 500;
  color: #aaa;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .major {
  background-color: #222;
}
.blog-nav .minor {
  background-color: #333;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: justify;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/* Items */
.rowitem .col-sm-10 {
  margin-bottom: 20px;
}
.rowitem .col-sm-1 {
  margin-bottom: 10px;
}
.rowitem .col-sm-1 img {
  width: 64px;
  height: 64px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.blog-heading {
  font-size: 16px;
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

 /* 使用em作为单位，代替px，便于在不同屏幕上显示 */
.blog-footer {
  padding: 3em 0;
  color: #999;
  text-align: center;
  background-color: #fffef2;
  border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}
/* 添加Footer样式，设置block的间距*/
.footer-block {
  margin-bottom: 2em;
}
.footer-block div {
  margin-bottom: 2em;
}

span.glyphicon-decor {
    font-size: 36px;
}

/* Source Sans Pro Web Font */
@font-face {
  font-family: source-sans;
  src: url("/fonts/SourceSansPro-Regular.ttf.woff") format("woff");
  font-weight: regular;
}

.jumbotron {
  overflow: hidden;
  background-color: #d5d5d5;
}